body {
    margin: 0;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    box-sizing: border-box;
    --col1: red;
    --col2: rgb(111, 0, 255);
    --col3: green;
    --col4: purple;
    --col5: yellow;


}

.container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2%;
        height: 200px;
    }

.box1 {
    background: var(--col1);
    border-radius: 3%;
    grid-column: 1 / 3;
}

.box2 {
    background: var(--col2);
    border-radius: 3%;
    grid-column: 3 / 5;
}

.box3 {
    background: var(--col3);
    border-radius: 3%;
    grid-row-start: 2;
}

.box4 {
    background: var(--col4);
    border-radius: 3%;
    grid-column: 2 / 5;
}

.box5 {
    background: var(--col5);
    border-radius: 3%;
    grid-column: 1 / 5;

}